.SubmittedButton {
    margin-top: 1rem;
    text-align: center;
    width: 250px;
    background-color: green;
    border: 4px solid lightblue;
    padding: 3px;
    color: white;
    font-family: 'Roboto', sans-serif;
    font-size: 1.5rem;
    cursor: not-allowed;
}

.VoteButton:hover {
    background-color: darkgreen;
    border: 4px solid lightgreen;
}

.VoteButton a {
    color: white;
    text-decoration: none;
}

.vote-button-text {
    display: inline-block;
    width: 100%;
    height: 100%;
}