html, body {
    height: 100%;
    margin: 0;
}

.App {
    background-color: #fc5d9d;
    display: flex;
    flex-direction: column;
    height: 100%;
}

.App .title {
    color: white;
    font-family: 'Lobster', cursive;
    text-align: center;
    font-size: 6rem;
    margin-top: 1rem;
    text-shadow: 2px 2px black;
}